.nav {
  position: relative;
  top: 0;
  z-index: 1;
  display: flex;
  height: 50px;
  background-color: transparent !important;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  padding: 20px;
}

.logo > img {
  height: 28px;
  object-fit: center;
  padding: 10px;
}

.btn {
  padding: 10px;
}

#btn__signup {
  padding: 0.5rem 1rem;
  background-color: #f77b81;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: 20px;
}

#btn__login {
  padding: 0.5rem 1rem;
  background-color: #00000066;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: 1px solid #ffffff;
  cursor: pointer;
   outline: none;
  border: none;
  margin-right: 20px;
}

#btn__signup:hover , #btn__login:hover {
    color: black;
  background-color: #ffffff;
  transition: all 0.4s
}