.nav {
  position: relative;
  top: 0;
  z-index: 1;
  display: flex;
  height: 50px;
  background-color: transparent !important;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  padding: 20px;
}

.logo > img {
  height: 28px;
  object-fit: center;
  padding: 10px;
}

.btn {
  padding: 10px;
}

#btn__signup {
  padding: 0.25rem 0.5rem;
  background-color: #e50914;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

#btn__login {
  padding: 4px 18px;
  background-color: #00000066;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-right: 20px;
}
